@page "/shoppingbasket"

<style>
    table.table tbody tr td img {
        width: 100px;
    }
</style>

<div class="top-row px-4">
    &nbsp;
</div>

<div class="content px-4">
    <BlazorServer4.Web.Components.ShoppingBasket DisplayType="ShoppingBasketDisplayType.FullPage" />
</div>

@code {
}
